.job-summary{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 600;
    color: #000;
    font-size: 16px;
}

.summary{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.apply-button{

    background-color: #FF4A17;
    border-radius: 2px;
    color: #fff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500 !important;
    height: 45px;
        width: 100%;
}

.container{
    margin-bottom: 50px !important;
}

.spacer {
    height: 50px;
}