input{
    border: 1px solid rgba(50, 50, 50, 0.5);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: rgba(50, 50, 50, 0.5);
    font-weight: 500;
    height: 40px !important;
    border-radius: 4px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}

.img-size{
    width: 45px;
    height: 45px;
    border: 1.5px solid #FF4A17;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.img-size {
    width: 40px; /* Adjust as needed */
    height: 40px;
  }
  
  .name {
    font-weight: bold;
  }
  
  .date {
    font-size: 14px;
    background-color: #FF4A17;
    color: #fff;
    border-radius: 2px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .line {
    width: 100%;
    color: #555454;
    height: 1px;
    margin-top: -2px;

  }

  .last-msg-name{
    background-color: #D9D9D9;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #000;
    width: auto;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: -3%;
    max-width: fit-content; 
  }
  .last-message{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #000;
  }