.header{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px !important;

  }

  .input-container {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .add-form-input {
    width: 100%;
    padding-right: 40px; /* Add space for the icon */
    padding-left: 10px; /* Add left padding for text */
    box-sizing: border-box;
  }
  
  .icon-upload {
    position: absolute;
    right: 10px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #888; /* Adjust icon color */
    pointer-events: none; /* Make the icon unclickable */
  }
  input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../../../assets/images/Document\ Upload.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }  