


  <div class="container justify-content-center align-items-center" style="margin-top: 5%;">

    <div class="box d-flex align-items-center justify-content-between">
      <!-- Profile Image & Details -->
      <div class="d-flex align-items-center">
        <ion-img [src]="profileImage" class="img-size" (click)=" toProfile()"></ion-img>
        
        <div class="ms-2">
          <span class="d-block userName" (click)=" toProfile()">Mufamadi M</span>
          <span class="d-block text-muted date">10 Feb 2025</span>
        </div>
      </div>
    
      <!-- Notification Icon -->
       <img src="../../../assets/images/Notification_icon.svg" routerLink="/notifications">
    </div>
    
    
   
  </div>
