.container-2{
    font-family: 'Poppins', sans-serif;
    height: auto !important;
    padding: 0 !important;
    margin: 0 !important;

}

.notif-msg{
    font-size: 12px;
    width: 10% !important;
}

.delete {
margin-top: -20px;
width: 20px;
height: 20px;   
float: inline-end !important;
}

.time-sent {
    font-size: 12px;
    color: #FF4A17;
    margin-left: 87%;
    
}

