.apply-job{
    font-weight: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    margin: 5% 5% 0% 0% !important;
}

.left{
    margin-left: 6% !important;
}

.button-continue{
    background-color: #FF4A17;
    color: #fff;
    width: 100% !important;
    height: 40px;
    border-radius: 4px;
    margin: 10px 0px;
    font-size: 16px;
    font-weight: 500;
}
  
  .nav-item.active {
    color: #FF4A17; 
    font-weight: 700; 
    border-bottom: 3px solid #FF4A17; 
  }
  .names{
    font-size: 16px !important;
    font-weight: 600 !important;
    font-family: 'Poppins' sans-serif !important;
  }

  .document-name{
    font-size: 16px !important;
    font-weight: 600 !important;
    font-family: 'Poppins' sans-serif !important;
    color: #066839;
  }
  