
<ion-content [fullscreen]="true">
  <div class="d-flex justify-content-center align-items-center" style="margin-top: 25%;">
  <img src="../../../assets/images/LogoTwo.svg">
</div>

  <div class="d-flex justify-content-center align-items-center" style="margin-top: 15%;">
    
    <form [formGroup]="resetForm" class="p-4">
      <input formControlName="email" type="email" placeholder="Email address" class="mb-3">
      <input formControlName="newPassword" type="password" placeholder="Password" class=" mb-3">
      <input formControlName="confirm_password" type="password" placeholder="Confirm Password" class=" mb-3">
      <button type="submit" class="loginButton mb-2">Submit</button>
     
      
    </form>

  </div>

 
  
</ion-content>

