input {
    border: none;
    border-bottom: 2px solid #323232;
    margin-bottom: 35px !important;
    font-family: 'Poppins', sans-serif;
    font-size: 14px !important;
    font-weight: 600 !important;
    outline: none;
    width: 100%;
    padding-bottom: 10px;
  }
  
  input:focus {
    border-bottom: 2px solid #323232 !important; /* Ensure it keeps the same style */
    outline: none; /* Remove default browser focus outline */
  }
  
  
  form {
    width: 100% !important;
    font-family: 'Poppins', sans-serif !important;
  }
  
  /* Additional specific input control for validation */
  ion-input[invalid] {
    --border-color: #323232 !important; /* Force no color change for invalid state */
  }
  
  ion-input[valid] {
    --border-color: #323232 !important; /* Force no color change for valid state */
  }
  