.verify-header{
    color: #FF4A17;
    font-weight: 700 !important;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

.message{
    font-family: 'Poppins', sans-serif;
}

.stard-email{
    color:#FF4A17;
}
input{
    border: 2px solid #FF4A17;
    border-radius: 2px;
    color: #000;
    height: 40px;
    width: 15% !important;
    outline: none;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
}
.left{
    margin-left: 8%;
}