.banner-image{
    width: 100%;
    height: auto !important;
    z-index: 0;
}

.image-container {
    position: relative; 
    display: inline-block; 
    z-index: 0;
  }
  
  .camera-image {
    position: absolute; 
    top: 80%;
    left: 80% !important; 
    transform: translate(50%, -50%); 
    height: auto; 
    width: 40px;

  }

  .camera-image2 {
    position: absolute; 
    top: 38%;
    left: 29% !important; 
    transform: translate(50%, -50%); 
    height: auto; 
    width: 30px;

  }

  .card{
    width: 100%;
    border: none;
    border-radius: 0px;
    height: auto;
  }
 .profile-image {
  width: 130px; 
  height: 130px; 
  object-fit: cover; 
  border: 4px solid #FF4A17;
  border-radius: 50% !important;
  margin-top: -20%;
  z-index: 999;
  transform: translateX(10%);
}

  .intro{
    font-family: 'Poppins', sans-serif;
  }
  .header{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px !important;
  }

  .button-add{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    color: #FF4A17;
    text-decoration: underline;
    float: inline-end !important;
  }

  .collapsed {
    overflow: hidden;
    height: 100px;
    text-overflow: ellipsis;
  }

  .view-more{
    color: #FF4A17;
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin-top: -5%;
  }
  .pagination-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
  }
  
  .pagination-controls button {
    padding: 5px 10px;
    font-size: 14px;
  }
  
  .pagination-controls span {
    font-size: 14px;
  }
  .container {
    padding-bottom: 80px !important; 
  }
  .page-link:focus {
    outline: none !important;
    box-shadow: none !important; 
  }
  
  .pagination .page-item .page-link {
    color: #6c757d; 
    border: 1px solid #FF4A17;
    margin: 0 5px; 
    border-radius: 4px; 
    transition: all 0.3s ease; 
    font-weight: 500;
  }
  
  
  .pagination .page-item.active .page-link {
    background-color: #FF4A17 !important; 
    color: #fff !important;
    border-color: #FF4A17 !important; 
    font-weight: bold !important; 
  }
  

  .pagination .page-item.active .page-link:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  
  .pagination .page-item.disabled .page-link {
    color: #6c757d; 
    background-color: #e9ecef; 
    border-color: #e9ecef;
    cursor: not-allowed; 
  }

  .add-btn {
    background-color: #FF4A17; 
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    height: 30px;
    font-family: 'Poppins', sans-serif !important;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.options-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 18px;
  color: #FF4A17;
  transition: color 0.3s ease-in-out;
}

.dropdown-content{
  background-color: #fff;
  color: rgba(42, 43, 42, 1);
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  padding: 5px;
  margin-top: 15px;
  border-radius: 4px;
  width: 130px !important;
  float: inline-end !important;
  z-index: 9999!important;
  height: 75px !important;
  position: absolute; 
  margin-left: 58%;

}

.dropdown-content span{
  float:inline-start;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}



.item {
  display: flex;
  align-items: center;
  float: inline-start !important;
  color: #000;
}

.icon {
  width: 20px;
  height: 20px; 
  float: inline-end !important;
  margin-right: 15px !important;
}

.documents-uploaded{
  color: #066839;
  font-size: 15px;
}






  
  
  
  