.duration{
    color: #FF4A17;
    float: inline-end !important;
    font-size: 12px;
    font-weight: 600;
}

.bg-color1 {
    background-color: #FF4A17 !important; 
    border-radius: 50%;
    border: 1px solid #FF4A17;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
}

.no-jobs {
    width: 50px;
    height: 50px;
    
}

.jobs-paragraph{
    font-family: 'Poppins', sans-serif;
    font-weight: 600 !important;
    font-size: 15px;
}
